    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
    height: 275px;
    width: 300px;
    margin: 15px;
}

.margin-top {
    margin-top: 50px;
}

.pointer-cursor {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img {
        height: 275px;
        width: 275px;
        margin: 15px;
    }
    
  }